<?xml version="1.0"?>
<Xml>
    <Language>
        <Cur_language>0</Cur_language>
        <Language_Num>21</Language_Num>
        <Language0>Chinese</Language0>
        <Language1>English</Language1>
        <Language2>Spanish</Language2>
        <Language3>Russian</Language3>
        <Language4>German</Language4>
        <Language5>Japanese</Language5>
        <Language6>French</Language6>
        <Language7>Arabic</Language7>
        <Language8>Thai</Language8>
        <Language9>Greek</Language9>
        <Language10>Korean</Language10>
        <Language11>English</Language11>
        <Language12>English</Language12>
        <Language13>English</Language13>
        <Language14>Romania</Language14>
        <Language15>Portugal</Language15>
        <Language16>Portugal</Language16>
        <Language17>Finland</Language17>
        <Language18>Slovenia</Language18>
        <Language19>Poland</Language19>
        <Language20>Hungary</Language20>
    </Language>
    <Check>
        <Cur_CheckIndex>1</Cur_CheckIndex>
    </Check>
    <ReportSet>
        <typeindex>1</typeindex>
    </ReportSet>
    <SelCar>
        <OftenOrNormal>1</OftenOrNormal>
    </SelCar>
    <CompensetUp>
        <CurCompensetUp>0</CurCompensetUp>
    </CompensetUp>
    <ProbeRodUp>
        <CurProbeRodUp>0</CurProbeRodUp>
    </ProbeRodUp>
    <SetupPosition>
        <CurSetupPosition>0</CurSetupPosition>
    </SetupPosition>
    <KinpinSet>
        <KinpinType>1;</KinpinType>
        <KingpinMode>1</KingpinMode>
    </KinpinSet>
    <trunangle>
        <angle>4</angle>
        <Toek1>0.300;</Toek1>
    </trunangle>
    <unit>
        <unit>1</unit>
        <toeUnit>1</toeUnit>
        <tyremodel>163/21 R17 82H</tyremodel>
        <tyrmm>500.26</tyrmm>
        <tyrin>19.70</tyrin>
    </unit>
    <EXEType>
        <CurEXEType>1</CurEXEType>
        <CurExeEdition>2</CurExeEdition>
        <CurExitMode>1</CurExitMode>
    </EXEType>
    <System>
        <lc>1153300348</lc>
        <rs>4</rs>
    </System>
    <ProbeRoCalibration>
        <CurProbeRoCalibration>1</CurProbeRoCalibration>
    </ProbeRoCalibration>
    <LangFontSet>
        <LangID_1041_Font3>MS UI Gothic</LangID_1041_Font3>
        <LangID_1041_Font31>Tahoma</LangID_1041_Font31>
        <LangID_2052_Font3>Arial</LangID_2052_Font3>
        <LangID_2052_Font31>ו</LangID_2052_Font31>
    </LangFontSet>
    <UIType>
        <uitype>1</uitype>
    </UIType>
    <Camera01>
        <DeviceSerial>EH0349002010</DeviceSerial>
        <CameraID>1</CameraID>
        <ADCLevel>1</ADCLevel>
        <UpperExposureTime>20</UpperExposureTime>
        <LowerExposureTime>1000</LowerExposureTime>
        <Gain>0</Gain>
        <VBlanking>0</VBlanking>
        <HBlanking>0</HBlanking>
        <BlkLevelNum>0</BlkLevelNum>
        <BlkLevelEnble>1</BlkLevelEnble>
        <Speed>1</Speed>
    </Camera01>
    <Camera02>
        <DeviceSerial>EM2752007011</DeviceSerial>
        <CameraID>2</CameraID>
        <ADCLevel>1</ADCLevel>
        <UpperExposureTime>20</UpperExposureTime>
        <LowerExposureTime>1000</LowerExposureTime>
        <Gain>0</Gain>
        <VBlanking>0</VBlanking>
        <HBlanking>0</HBlanking>
        <BlkLevelNum>0</BlkLevelNum>
        <BlkLevelEnble>1</BlkLevelEnble>
        <Speed>1</Speed>
    </Camera02>
    <X631TLEDSetting>
        <ledport>1</ledport>
    </X631TLEDSetting>
</Xml>