<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkdo.activity"
    android:versionCode="2"
    android:versionName="2.6.1">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.thinkdo.application.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.thinkdo.activity.InitActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name="com.thinkdo.activity.HostSetActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.thinkdo.activity.DBUpdateActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.thinkdo.activity.AboutActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.thinkdo.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.thinkdo.activity.MainActivityLorry"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".FastTestActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".SpecialTestActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MPreferenceActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".HeightActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".WeightActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LevelActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".SaveOrPrintActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PrintCustomAddActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AddCustomActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".UserDataActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".DataPrintActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CustomCarDetail"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MaintenanceActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LightSetActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".SaveOrPrintLorryActivity"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>